<div id="getreport" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets\styles\pages\report\getreport.less</em>, <em>assets\js\pages\report\getreport.page.js</em>, and <em>api\controllers\report\view-getreport.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
