<div id="getpackage" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets\styles\pages\package\getpackage.less</em>, <em>assets\js\pages\package\getpackage.page.js</em>, and <em>api\controllers\package\view-getpackage.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
