<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Muscle Zone - A Fitness Gym </title>
<link rel="stylesheet" href="/maintemplate/bootstrap.css">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/maintemplate/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="/maintemplate/mainstyle.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="United Comms Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<!-- header-section-starts -->
	<div class="header">
		<div class="container">
			<div class="logo">
				<a href="index.html"><img src="/images/logo.png" class="img-responsive mlogo" alt="" /></a>
			</div>
			<div class="header-right">
				<h4><i class="phone"></i>+91 9894371308</h4>
				<span class="menu"></span>
				<div class="top-menu">
					<ul>                                              
						<li><a class="active" href="">Home</a></li>
						<li><a href="404.html">Trainers</a></li>
						<li><a href="about.html">About Us</a></li>
						<li><a href="services.html">Services</a></li>
						<li><a href="/login">Login</a></li>
						<li><a href="contact.html">Contact Us</a></li>
					</ul>
				</div>
				<!-- script for menu -->
				<script>
				$( "span.menu" ).click(function() {
				  $( ".top-menu" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>
			<!-- script for menu -->

			</div>
			<div class="clearfix"></div>
		</div>
	</div>
    <!-- header-section-ends -->
    <%- body %>

	
		<div class="contact-section text-center">
			<div class="container">
				<h3>Contact Us</h3>
				<div class="contact-top">
					<div class="col-md-4 contact-section-grid text-center">
						<i class="smartphone"></i>
						<p>Phone : +91 9894371308</p>
						<p>x : +91 9894371308</p>
					</div>
					<div class="col-md-4 contact-section-grid text-center">
						<i class="user"></i>
						<p>Po box 45236<p>
						<p>Greater st, New york</p>
						<p>Vicrtoria 8423 USA</p>
					</div>
					<div class="col-md-4 contact-section-grid text-center">
						<i class="global"></i>
						<p><a href="mail-to:Support@yourname.com">Support@yourname.com</a></p>
						<p><a href="mail-to:hello@company.com">hello@company.com</a></p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="contact-section-bottom">
					<div class="contact-form">
						<form>
						<div class="col-md-6 contact-left">
							<input type="text" class="text" value="Name*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name*';}">
							<input type="text" class="text" value="E-mail*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail*';}">
						</div>
						<div class="col-md-6 contact-right">
							<textarea value="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
						</div>
							<input type="submit" value="Submit " />
						</form>
					<div>
				</div>
			</div>
		</div>	
	</div>
	</div>
	<div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d74531.57011362573!2d76.91318861553889!3d10.957092791115416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTDCsDU3JzQ3LjciTiA3NsKwNTYnNDkuMyJF!5e0!3m2!1sen!2sin!4v1537979914690"  frameborder="0" style="border:0" ></iframe>
	</div>
	</div>
	<div class="footer text-center">
		<div class="social-icons">
			<a href="#"><i class="facebook"></i></a>
			<a href="#"><i class="twitter"></i></a>
			<a href="#"><i class="googlepluse"></i></a>
			<a href="#"><i class="youtube"></i></a>
			<a href="#"><i class="linkedin"></i></a>
		</div>
		<div class="copyright">
			<p>Copyright &copy; 2015 All rights reserved | Template by  <a href="http://w3layouts.com">  W3layouts</a></p>
		</div>
	</div>
</body>
</html>