<div id="login" class="container h-100">
  
<br>
<br><br><br>
    <!-- login design -->

    <div class="row align-items-center justify-content-center">
      <div class="col-4">
      <div class="modal-container ">
        <div class="title-bar">
            <img src="http://phmail.co/wp-content/uploads/2016/01/phmail-login-logo.svg" class="brand" />Log In To Your Mail Account
        </div>
        <div class="input-section">
          <div id="success-tick">
            <div class="success-graphic"><svg version="1.1" id="success-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
       y="0px" width="80px" height="80px" viewBox="0 0 80 80" enable-background="new 0 0 80 80" xml:space="preserve">
    <g id="circle">
      <path fill="#79B77E" d="M40,2c20.953,0,38,17.047,38,38S60.953,78,40,78S2,60.953,2,40S19.047,2,40,2 M40,0C17.909,0,0,17.909,0,40
        s17.909,40,40,40s40-17.909,40-40S62.091,0,40,0L40,0z"/>
    </g>
    <polyline id="tick" fill="none" stroke="#79B77E" stroke-width="9" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
      56,29.469 34.618,50.851 24,40.234 "/>
    </svg></div>
            <span class="success-text">Logging In...</span>
          </div>
          <div class="input-fields">
            <input type="text" class="login-field" placeholder="Your Username" id="username">
            <input type="password" class="login-field last-field" placeholder="Your Password" id="pwd">
          </div>
          <div class="alert alert-danger d-none" role="alert" id="loginerr">
            <strong>Oh snap!</strong> Please check username and password.
          </div>
          <div class="submit-section">
            <div class="forgot-pw">Forgot password?</div>
            <div class="submit-button correct">
              Log In
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <!-- login design -->

  
</div>

 

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
