<div id="index" v-cloak>

  <div class="banner">
		<div class="container">
			<div class="banner-info">
				<h2>Muscle Zone Gym & Fitness Centre </h2>
				<p>One of the best gents & ladies fitness centre for the past 18 years in Coimbatore city.</p>
				<p>We offer a range of great facilities including fully equipped gym with qualified friendly instructors.</p>
				<a href="contact.html" class="btn btn-1 btn-1d">Request a quote</a>
			</div>
		</div>
  </div>
  
  <!-- Our Services starts here -->


	<div class="content">
    <div class="services-section">
      <div class="container">
        <h3>Our Services</h3>
        <div class="services-section-grids">
          <div class="col-md-4 services-section-grid1">
            <div class="services-section-grid1-top">
              <h4>Personal Trainee</h4>
              <p>We can offer you great low cost best training to make your body best</p>
              <div class="icons">
                <div class="icon-left">
                  <i class="call"></i>
                </div>
                <div class="icon-right">
                  <a href="#"><i class="arrow arrow1"></i></a>
                </div>
                <div class="clearfix"></div>
              </div>
              </div>
            <div class="services-section-grid1-bottom">
              <h4>Cardio Workout & Diet Plans</h4>
              <p> The proper way of cardio workout can help to reduce belly fat, promotes brain growth, prevents stress, promotes focus and lot more.. </p>
              <p>Our Best diet plan will make your body good.</p>
              <div class="icons">
                <div class="icon-left">
                  <i class="callmsg"></i>
                </div>
                <div class="icon-right">
                  <a href="#"><i class="arrow arrow2"></i></a>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="col-md-4 services-section-grid2">
            <h4>Steam Bath</h4>
            <p>It helps to loosen up the joints and increase flexibility.</p>
            <p>A steam room can also decrease the level of cortisol, which is the hormone released in response to stress. When the cortisol level drops, people can feel more in control, relaxed, and rejuvenated.</p>
            <div class="icons icons2">
                <div class="icon-left">
                  <i class="interact"></i>
                </div>
                <div class="icon-right">
                  <a href="#"><i class="arrow arrow3"></i></a>
                </div>
                <div class="clearfix"></div>
              </div>
          </div>
          <div class="col-md-4 services-section-grid3">
            <div class="services-section-grid3-top">
              <h4>Fitness</h4>
              <p>We work with all the major networks to make sure you get a solution tailored you</p>
              <div class="icons">
                <div class="icon-left">
                  <i class="dt"></i>
                </div>
                <div class="icon-right">
                  <a href="#"><i class="arrow arrow4"></i></a>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="services-section-grid3-bottom">
              <h4>Weight Loss</h4>
              <p>Click here to find out about more services we provide at effective price range</p>
              <div class="icons">
                <div class="icon-left">
                  <i class="zoom"></i>
                </div>
                <div class="icon-right">
                  <a href="#"><i class="arrow arrow5"></i></a>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    
    
    <div class="subscribe-section">
      <div class="container">
        <div class="subscribe-section-grids">
          <div class="col-md-8 subscribe">
            <h3>Timings</h3>
            <h3>Gents : 5:30 AM - 9:00 AM<br/> 5:00 PM – 9:00 PM<br> Ladies: 9:30 AM - 5:00 PM</h3>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>


      <div class="testimonials-section">
        <div class="container">
          <div class="testimonials-section-head text-center">
            <h3>Testimonials</h3>
          </div>
          <div class="members">
            <div class="col-md-4 member1">
              <img src="/images/mem.jpg" alt="" />
              <div class="text text-center">
                <h4>John Doe</h4>
                <p>CEO, Company.com</p>
              </div>
            </div>
            <div class="col-md-8 description">
              <div class="course_demo">
                <ul id="flexiselDemo4">	
            <li>
              <div class="client-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru.</p>
              </div>
            </li>
            <li>
              <div class="client-text">		
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
              </div>
            </li>	
            <li>
              <div class="client-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
              </div>
            </li>									    	  	       	   	  									    	  	       	   	    	
          </ul>
  
      </div>
      <script type="text/javascript">
        $(window).load(function() {
          $("#flexiselDemo4").flexisel({
            visibleItems: 1,
            animationSpeed: 1000,
            autoPlay: true,
            autoPlaySpeed: 3000,    		
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
              responsiveBreakpoints: { 
                portrait: { 
                  changePoint:480,
                  visibleItems: 1
                }, 
                landscape: { 
                  changePoint:640,
                  visibleItems: 1
                },
                tablet: { 
                  changePoint:768,
                  visibleItems: 1
                }
              }
            });
            
        });
      </script>
      <script src="/maintemplate/jquery.flexisel.js"></script>
  
  
              </div>
            <div class="clearfix"></div>
            </div>
            
          </div>
        </div>
      </div>

  <!-- Our Services ends here-->

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
