<div id="getbranch" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets\styles\pages\branch\getbranch.less</em>, <em>assets\js\pages\branch\getbranch.page.js</em>, and <em>api\controllers\branch\view-getbranch.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
